@(historyListFromMyController : List[is.ru.honn.ruber.domain.Trip])


@main(title = "History", nav = "history") {
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Request Time</th>
                    <th>Length</th>
                    <th>Time</th>
                    <th class="hidden-xs">Driver</th>
                </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
    @for(trip <- historyListFromMyController) {


            <tr>
                <td><a href="@routes.HistoryController.getTripDetails(trip.getId)">@controllers.HistoryController.getTimeFromUnix(trip.getRequestTime)</a></td>
                <td>@trip.getDistance() KM</td>
                <td>@controllers.HistoryController.getTime(trip.getTime)</td>
                <td class="hidden-xs">@controllers.HistoryController.getDriver(trip.getProductId)</td>
            </tr>





    }

            </tbody>
        </table>
    </div>
}
