@(title: String = "Welcome", nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Ruber</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/slate.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js" type="text/javascript"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="@routes.Assets.at("javascripts/jasny-bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="topbar">
            <div class="fill">
                <div class="container-fill">


                    <ul class="nav nav-tabs" role="tablist">
                        <li class="@("active".when(nav == "home"))">
                            <a href="@routes.Application.index()">Home</a>
                        </li>

                        @if(session.get("username")) {
                            <li class="@("active".when(nav == "history"))">
                                <a href="@routes.HistoryController.main(session.get("username"))">History</a>
                            </li>

                            <li class="@("active".when(nav == "drivers"))">
                                <a href="@routes.DriverController.getAllDrivers()">Drivers</a>
                            </li>

                            <li class="pull-right">
                                <a href="@routes.LoginController.logout()">Logout</a>
                            </li>

                        } else {
                            <li class="@("active".when(nav == "signup"))">
                                <a href="@routes.SignupController.blank()">Sign up</a>
                            </li>
                            <li class="@("active".when(nav == "login"))">
                                <a href="">Login</a>
                            </li>
                        }
                    </ul>


                </div>
            </div>
        </div>

        <div class="container-fill">

            <div class="content">

                <div class="page-header ruber-background">

                </div>

                <div class="row">
                    <div class="span14">
                    @content
                    </div>
                </div>

            </div>



        </div>

    </body>
</html>
